# Web Scraping

<h4>Requisitos previos</h4>
Instalar en consola
 <li>
        <lu>pip install bs4</lu>
</li>
 <li>
        <lu>pip install request</lu>
</li>
 <li>
        <lu>pip install pandas</lu>
</li>

In [6]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [103]:
# Configuraciones de panda
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)
pd.set_option('display.width', 1000)

In [104]:
# Definir URL de la pagina
url = "https://www.sensacine.com/peliculas/taquilla/usa/week-2024-09-27/"
web = requests.get(url)
sp = BeautifulSoup(web.text)

# Bsucar clase por clase, por atributos y valor
movie_data = sp.find_all('tr',attrs={'class':'responsive-table-row'})

movie_title = []
movie_company = []
movie_total = []
movie_total_acumulado = []
movie_semana = []

# Extraer data de cada pelicula
for movie in movie_data:
    # Extraer titulos
    title = movie.find('a', attrs={'class','meta-title-link'})
    
    # Extraer Compañia
    company = movie.find('div', attrs={'class','meta-body'})
    
    # Extraer Total
    total = movie.find('td', attrs={'data-heading':'Total'})
    
    # Extraer total acumulado
    total_acumulado = movie.find('td', attrs={'data-heading':'Acumulativo'})
    
    # Extraer semana de cine
    semana = movie.find('td', attrs={'data-heading':'Semana'})
    
    # Recorrer toda la tabla
    if title:
        movie_title.append(title.text)
        
    if company:
        movie_company.append(company.text.strip())
        
    if total:
        clean_total = total.text.strip().replace("$", "").replace(" ", "")
        movie_total.append(float(clean_total))
    
    if total_acumulado:
        clean_total_acumulado = total_acumulado.text.strip().replace("$", "").replace(" ", "")
        movie_total_acumulado.append(float(clean_total_acumulado))
    
    if semana:
        movie_semana.append(int(semana.text.strip()))

df = pd.DataFrame({'Titulo':movie_title, 'Compañia':movie_company, 'Total':movie_total,'Total acumulado':movie_total_acumulado, 'Semana':movie_semana})
df.head(9)
# df.to_excel('C:/Users/ASUS/Documents/FEMT-COURSES/cine-2024-07-26.xlsx', index=False)

                        Titulo                                  Compañia        Total  Total acumulado  Semana
0           Deadpool y Lobezno          Twentieth Century Studios España  211435291.0      211435291.0       1
1                     Twisters               Warner Bros Pictures España   34991430.0      116242845.0       2
2   Gru 4. Mi villano favorito    Universal Pictures International Spain   14589670.0      157634600.0       4
3                  Del revés 2  Walt Disney Studios Motion Picture Spain    8617451.0      384655203.0       7
4                     Longlegs                                DeaPlaneta    6779899.0       41151775.0       3
5  Un lugar tranquilo: Día uno                  Paramount Pictures Spain    3109237.0       93604672.0       5
6         Bad Boys Ride or Die         Sony Pictures Releasing de España    1333004.0      134413222.0       8
7           Fly Me to the Moon         Sony Pictures Releasing de España     768305.0       13481234.0       3